
  * { box-sizing: border-box; }
  * {font-family: Helvetica, sans-serif; }

   .headers {
    width: 100%;

    padding: 2% 10% 2% 9%;
    color: white;
    font-weight:900;
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: 15% 60%;
    }

    .header {
      width: 100%;
      height: 30em;
      padding: 2% 10% 2% 9%;
      color: white;
     background-image: url(../images/header-image.jpg);
     background-repeat: no-repeat;
     background-size: 100%;

     }

        .aboutheader {
          width: 100%;
          padding:0% 0% 0% 89%;
          background-image: url(../images/cart-icon.svg);
          background-repeat: no-repeat;
          background-size: 3%;
          background-position: 87% 10%;
         }

         h2 {
           font-size: 1.2em;
           padding: 15% 0 0% 0%;
           color: #4CAF50;
              font-style:oblique;
              font-weight:200;}


     .checkout {
      width: 20%;
      float: right;
       background-color: #4CAF50;
       border: none;
       color: white;
       text-align: center;
       text-decoration: none;
       margin: 0% 0% 0% 80%;
       padding: 1%;
       cursor: pointer;}

       .checkoutpage {
         padding: 1% 15%;
       }

        .bannernav{
          width: 100%;
          background: #E8E8E8;
          padding: 2.5% 0% 2.5% 10%;
          margin: 0% 0 2% 0;
          text-align:left;
        }

        .navclass{
        color: #2e5984;
        font-size: 1rem;
        font-weight: bold;
        padding: .3rem;
        text-decoration: none;
        }

        label {
            font-size: 1.5rem;
            color: navy;
            font-weight: 600;
          }

          .title {
              font-size: 1.8rem;
              color: navy;
            }

            .profile {
              margin: 2.5% 0 2.5% 2.5%;
              font-size: .7rem;
              border: 1px solid lightgrey;
              width: 22em;
              text-align: left;
                        }

                        #indexprofile {
                          margin: 1% 1% 1% 0%;
                          font-size: .7rem;
                          border: 1px solid lightgrey;
                          width: 25em;
                          text-align: left;

                                    }

                                    #indexleft {
                                      width: 75%;
                                      float: left;
                                    }

                  .indexblog {
                    width: 25%;
                    float: right;
                  }


              .profilephoto {
              max-width:100%;
              cursor: pointer;
                 }

                h4 {
                  font-size: 1.5em;
                  font-style: oblique;
                    }

                    h3 {
                      font-size: 2em;
                      font-style: oblique;
                      padding: 0 10%;
                      color: navy;
                    }


                    .checkoutphoto {
                    height:5%;
                    }

                    .perfect3{
                      display: flex;
                      flex-direction: row;
                      flex-wrap: wrap;
                    }

                      .checkoutportfolio{
                      display: flex;
                      flex-direction: row;
                      flex-wrap: wrap;
                      }

                    .profilecheckout {
                    padding: 0 2.5%;
                    }

                    .submit {
                     width: 30%;
                    background-color: #4CAF50;
                    border: none;
                    color: white;
                    font-size: 1rem;
                    font-weight: bold;
                    text-align: center;
                    text-decoration: none;
                    padding: 2% 5%;
                    cursor: pointer;}


            .portfolio{
              padding:0 10%;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-around;
            }

            #indexportfolio{
              padding:0 0 0 0%;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-around;
            }

            .introverb, .blogverb {
              font-size: .75em;
            }

            #indexintroverb {
              font-size: .75em;
              margin: 0% 5%;
            }

            .adopt {
              background-color: #4CAF50;
              width: 90%;
              padding: 5%;
              border: none;
              font-weight: bold;
              color: white;
              text-align: center;
              text-decoration: none;
              cursor: pointer;
            }

            .profile :not(.profilephoto){
               margin: 5%;
             }


            .more {
              background-color: lightgrey;
              width: 30%;
              margin: 2.5% 35% 2.5% 35%;
              padding: 2% 5%;
              border: none;
              font-weight: bold;
              color: black;
              text-align: center;
              font-size: 1rem;
              text-decoration: none;
              cursor: pointer;
            }

            .intropic{
              max-width:90%;
              height:20%;
            }

            #indexintropic{
              width: 100%;
              height: 50%;
            object-fit: cover;


            }

            .blogpic{
              max-width:30%;
              height:25%;
              margin: 2% 5%;
            }

            #indexblogpic{
              width: 100%;

              margin: 2% 0%;
            }

            .intro {
              width: 60%;
            }

              .intropages {
                width: 50%;

            }
            .intropage{
            margin: 5% 0 0 10%;
            font-family: Arial, sans-serif;
              font-size: 1.25rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
          }

          .blogpage{
          margin: 2.5% 5%;
          font-family: Arial, sans-serif;
            font-size: 1.1em;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }

        #indexblogpage{
        margin: .5% 01%;
        font-family: Arial, sans-serif;
          font-size: 1.1em;

      }


        .statess {
          margin: 1% 1% 1% 1%;
        }

        input {
          padding:2.5% 25%;
        }

        .some {padding: 5% 0%;}

        @media screen and (max-width: 576px) {

            .indexblog{
              visibility: hidden;
              display: none;
            }
            #bloglink{
              visibility: visible;
              float: left;
              width: 50%;
              font-size: 1.5em;
            }
        }

        @media screen and (min-width: 577px), (max-width: 991px) {

          }
          #bloglink{
            visibility: hidden;
            display: none;
        }

        @media screen and (min-width: 992px) {

          }
          #bloglink{
            visibility: hidden;
            display: none;
        }





        @media print {
          body img {
            display: none;
          }
        }



        footer{
        clear: both;
        background-color: #404040;
        background-image: url(../images/adoptadog-logo.svg);
        background-repeat: no-repeat;
        background-size: 20%;
        background-position: 50% 15%;
        color: white;
        font-size: .7rem;
        width: 100%;
        padding: 10% 35% 5% 35%;
        text-align:center;
        }

        #indexfooter{
        clear: both;
        background-color: #404040;
        background-image: url(../images/adoptadog-logo.svg);
        background-repeat: no-repeat;
        background-size: 20%;
        background-position: 50% 15%;
        color: white;
        font-size: .7rem;
        width: 100%;
        padding: 10% 35% 5% 35%;
        text-align:center;
        }



      .footernav a{
      color: white;
      padding: 2.5%;
      font-size: .9em;
      text-decoration: none;
      }

      #indexfooternav a{
        clear: both;
      color: white;
      padding: 2.5%;
      font-size: .9em;
      text-decoration: none;
      }
